/*==== Hero Section Two =====================*/
.tv-hero-section {
  &.style-3 {
    .hero-inner {
      .hero-area {
        .hero-text {
          padding: 190px 0 75px;

          @include tablet-l {
            padding: 150px 0 55px;
          }

          @include mobile-xl {
            padding: 120px 0 55px;
          }

          h1 {
            font-size: 130px;
            line-height: 1;
            color: $white-color;
            font-weight: 800;
            font-family: $title-font;
            text-align: center;

            @include lg {
              font-size: 110px;
            }

            @include laptop-m {
              font-size: 90px;
            }

            @include tablet-l {
              font-size: 70px;
            }

            @include mobile-xl {
              font-size: 50px;
              text-align: start;
            }


            .highlight {
              display: flex;
              gap: 60px;
              justify-content: center;

              @include xs {
                flex-direction: column;
                align-items: start;
                margin-left: 20px;
                gap: 0;
              }
            }

            .solution {
              display: inline-flex;
              align-items: center;
              gap: 50px;
              position: relative;
              margin-left: 190px;

              @include xs {
                margin-left: 0px;
              }

              @include sm {
                gap: 10px;
              }

              @include mobile-xl {
                margin-left: 20px;
              }

              .icons {
                display: flex;

                @include mobile-xl {
                  display: none;
                }

                .user {
                  width: 96px;
                  height: 96px;
                  border-radius: 50%;

                  @include laptop-m {
                    width: 76px;
                    height: 76px;
                  }
                }

                .spin-icon {
                  width: 96px;
                  height: 96px;
                  border-radius: 50%;
                  background: $theme-color;
                  @include center-flex;
                  flex-shrink: 0;
                  margin-left: -20px;

                  @include laptop-m {
                    width: 76px;
                    height: 76px;
                  }
                }
              }

              .scribble {
                position: absolute;
                left: -121px;
                top: -10px;
              }
            }
          }

          .since {
            font-size: 22px;
            line-height: 1;
            color: $white-color;
            font-weight: 500;
            font-family: $title-font;
            margin: 0;
            line-height: 2;

            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}