/*==== Header Style Five=====================*/

.tv-header.header-style5 {
    z-index: 999;
    position: absolute;
    width: 100%;

    .header-top {
        margin: 0;
        padding: 0 60px;
        background-color: $theme-color;
        position: relative;
        z-index: 1;
        // @include border(bottom, 1px, solid, $border-color);

        @include ml {
            padding: 0 24px;
        }

        @include laptop-m {
            display: none;
        }

        &::before {
            all: unset;
        }

        .inner-container {
            @include center-flex;
            justify-content: space-between;
            background: $theme-color;
            width: 100%;
        }

        .top-left {
            display: flex;
            align-items: center;
        }

        .outer-box {
            min-width: 315px;
            position: relative;
            z-index: 1;
            .social-icon-one {
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: end;
                flex-wrap: wrap;
                li {
                    span {
                        color: $white-color;
                    }
                    a {
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        background: $bg-color22;
                        @include center-flex;
                        margin-left: 15px;
                        @include transition;
                        i {
                            color: $white-color;
                        }
                        &:hover {
                            background: $theme-color;
                        }
                    }
                }
            }
        }

        .list-style-1 {
            position: relative;
            @include center-flex;
            justify-content: start;
            padding: 11px 0;

            li {
                font-size: 14px;
                color: $text-color4;
                padding-left: 0;

                i {
                    margin-right: 10px;
                    color: $white-color;
                }

                & + li {
                    margin-left: 35px;
                }
				
                a {
                    color: $text-color4;

                    &:hover {
                        color: $white-color;
                    }
                }

                .icon {
                    color: $white-color;
                    margin-right: 10px;
                }
            }
        }
    }
}

.main-wrapper {
    padding: 0 60px;
    background-color: transparent;
    border-bottom: 1px solid $border-color8;

    @include lg {
        padding: 0 12px;
    }

    @include md {
        background-color: $white-color;
    }
}

.menu-area {
    position: relative;
    padding: 0;

    .header-logo {
        a {
            img:last-child {
                display: none;
            }

            @include md {
                img:first-child {
                    display: none;
                }

                img:last-child {
                    display: inherit;
                }
            }
        }
    }

    .nav-outer {
        display: flex;
        align-items: center;
        gap: 65px;

        @include md {
            .nav-menu {
                display: flex;
                padding: 5px 0;
            }
        }
    }
}

/*=======Header Menu==========*/
.main-menu {
    a {
        display: block;
        position: relative;
        font-family: $title-font;
        font-size: 16px;
        font-weight: 700;
        color: $dark-color;

        &:hover {
            color: $theme-color;
        }
    }

    .active a {
        color: $theme-color;
    }

    > ul {
        > li {
            margin-right: 24px;

            @include xl {
                margin-right: 20px;
            }

            &:last-child {
                margin-right: 0 !important;
            }

            > a {
                padding: 37px 0;
                text-transform: capitalize;

                &:hover {
                    color: $theme-color;

                    .effect-1 {
                        top: -100%;
                    }
                }
            }

            &.menu-item-has-children {
                a {
                    padding-right: 19px;
                }

                & > a::before {
                    position: absolute;
                    content: "\f107";
                    font-family: $icon-font;
                    font-weight: 600;
                    font-size: 12px;
                    right: 0;
                    top: 52%;
                    @include transition;
                    transform: translateY(-50%);
                }

                &:hover > a::before,
                &.active > a::before {
                    color: $theme-color;
                }
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            position: relative;

            &:last-child {
                margin-right: 0 !important;
            }

            &:first-child {
                margin-left: 0 !important;
            }

            &:hover {
                > ul.sub-menu {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                    z-index: 9;
                }
            }
        }
    }

    ul.sub-menu {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: $white-color;
        visibility: hidden;
        min-width: 220px;
        padding: 15px 25px;
        padding-right: 0;
        width: max-content;
        left: -14px;
        opacity: 0;
        z-index: -1;
        border: 0;
        box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
        border-radius: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: all 0.4s ease 0s;

        a {
            font-size: 16px;
            color: $dark-color;
            font-weight: 500;
            font-family: $body-font;
            letter-spacing: normal;
            line-height: 24px;
            padding: 10px 0;
            padding-right: 0 !important;

            span {
                font-size: 12px;
                padding: 0px 5px;
                margin-left: 4px;
                background-color: $theme-color;
                color: $white-color;
                padding: 2px 5px;
                border-radius: 4px;
                position: relative;
                top: -1px;
            }

            &:hover {
                color: $theme-color;
            }
        }
    }

    ul.sub-menu {
        left: 0px;

        li {
            display: block;
            margin: 0;

            &:last-child {
                border-bottom: none;
            }

            &.active {
                & > a {
                    color: $theme-color;
                }
            }

            &:hover {
                & > a {
                    color: $theme-color;
                    padding-left: 23px;
                    letter-spacing: 0.3px;

                    &::before {
                        opacity: 1;
                        left: 0;
                        width: 20px;
                    }
                }
            }

            a {
                position: relative;
                z-index: 1;
                @include transition;

                &::before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 2px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: $theme-color;
                    opacity: 0;
                    z-index: -1;
                    @include transition;
                }
            }

            &.menu-item-has-children > a {
                &::after {
                    font-family: $icon-font;
                    content: "\f105";
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                    line-height: 24px;
                    font-size: 11px;
                    font-weight: 900;
                    z-index: 5;
                }
            }

            ul.sub-menu {
                left: 100%;
                right: auto;
                top: 0;
                margin: 0 0;
                // margin-left: 15px;

                li {
                    ul {
                        left: 100%;
                        right: auto;
                    }
                }
            }
        }
    }
}

/*===== Mega Menu =====*/
.tv-mega-menu {
    position: absolute;
    left: -150px;
    top: 100px;
    width: 1054px;
    background: $white-color;
    padding: 60px 50px;
    box-shadow: 0px 20px 30px rgba(1, 15, 28, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    top: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    border-radius: 20px;

    @include lg {
        left: -162px;
        width: 929px;
    }

    @include md {
        width: auto;
        opacity: 1;
        visibility: visible;
        transition: none;
        position: static;
        display: none;
        transform: scale(1);
        padding: 30px 20px;
    }
}

.tv-home-thumb {
    position: relative;
    z-index: 1;
    text-align: center;

    img {
        height: 420px;
        width: 100%;
        border-radius: 20px;

        @include md {
            object-fit: contain;
            height: 100%;
        }
    }

    .img1 {
        a {
            padding: 0 !important;
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                left: 0;
                transition: all 0.4s;
                top: 0;
                background: $bg-color19;
                border-radius: 20px;
                transform: scale(0.5);
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    a {
        display: inline-flex;
        padding-top: 15px;
        color: $dark-color !important;

        &:hover {
            color: $theme-color !important;
        }
    }

    &:hover {
        .img1 {
            a::after {
                transform: scale(1);
                transition: all 0.4s;
                visibility: visible;
                opacity: 0.5;
            }
        }
    }
}

.main-menu ul li:hover > .tv-mega-menu {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    top: 100%;
    transform: scale(1);
}

.sidebar-btn {
    background: transparent;
    position: relative;
    height: 60px;
    width: 60px;
    border: 2px solid $dark-color;
    border-radius: 50%;
    text-align: center;
    line-height: 54px;
    padding: 0;

    .line {
        display: block;
        height: 2px;
        width: 18px;
        background: $dark-color;
        margin: auto;
        transition: 0.4s;

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &:hover {
        .line {
            &:nth-child(2) {
                width: 10px;
            }
        }
    }
}

@include xs {
    .sidebar-btn {
        height: 50px;
        width: 50px;
    }
}

.header-right-wrapper {
    @include lg {
        display: none;
    }

    .outer-box {
        @include center-flex;
        position: relative;
        justify-content: flex-end;

        button.search-btn {
            position: relative;
            font-size: 18px;
            color: $dark-color;
            padding: 0;
            margin-right: 30px;
            @include transition;

            &:hover {
                color: $theme-color2;
            }
        }
    }

    .sidebar-trigger {
        // @include center-flex;
        // width: 52px;
        // height: 52px;
        // border-radius: 50%;
        // font-size: 17px;
        // color: $white-color;
        // background-color: $theme-color;
        margin-left: 30px;
        @include transition;

        // &:hover {
        //     color: $white-color;
        //     background-color: $theme-color2;
        // }
    }
}
