// Industries section style Two
.tv-industries-section {
  &.style-2 {
    .p-top-center {
      left: 43%;
    }
  }
}


.industries-box {
  border-radius: 24px;
  padding: 50px 50px;
  background: $bg-color15;
  text-align: center;
  overflow: hidden;
  transition: all 0.4s ease 0s;
  position: relative;

  .icon {
    background: var(--bs-bg-color5);
    border: 1px solid var(--bs-border-color7);
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    @include center-flex;
    transition: all 0.4s ease 0s;
  }

  .title {
    font-size: 22px;
    line-height: 32px;
    color: $white-color;
    font-weight: 600;
    font-family: $title-font;
    margin: 0;
    text-align: center;
  }

  &:hover {
    transform: translateY(-10px);
  }
}