// testimonial style One
.tv-testimonial-section {
	.testimonial-content-wrap {
		.testimonial-btn-wrapper {
			display: flex;
			align-items: flex-end;
			gap: 40px;
			margin-bottom: 60px;

			.scribble-shape {
				i {
					display: inline-block;
					font-size: 70px;
					color: $theme-color;
					-webkit-animation: scribble 2s infinite linear;
					animation: scribble 2s infinite linear;
				}
			}

			.client-social-proof {
				display: flex;
				align-items: center;
				gap: 20px;

				.social {
					display: flex;
					align-items: center;

					img {
						display: flex;
						width: 70px;
						height: 70px;
						border-radius: 50%;
						margin-left: -25px;
						background-color: var(--dark-color3);
						border: 3px solid $white-color;

						&:first-child {
							margin-left: 0px;
						}
					}

					h4 {
						background: $theme-color;
						width: 68px;
						height: 68px;
						border-radius: 50%;
						color: $white-color;
						flex-shrink: 0;
						margin: 0;
						font-size: 22px;
						@include center-flex;
						border: 2px solid white;
						margin-left: -25px;
					}
				}

				.text {
					color: $white-color;
					margin: 0;
					font-size: 20px;
					line-height: 28px;
					color: $white-color;
					font-weight: 500;
					font-family: $title-font;
				}
			}
		}
	}
}

.tv-testi-card {
	background: $white-color;
	border-radius: 30px;
	padding: 40px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
	transition: all 0.3s ease;
	position: relative;
	margin-top: 50px;

	.testi-top {
		display: flex;
		align-items: center;
		background: $bg-color13;
		overflow: hidden;
		gap: 20px;
		padding: 25px;
		border-radius: 30px;
		position: absolute;
		top: -45px;
		width: 80%;

		&::before {
			position: absolute;
			content: "";
			z-index: 1;
			top: 0;
			right: 0;
			width: 0;
			height: 100%;
			background-color: $theme-color;
			opacity: 0;
			transition: all 0.4s ease 0s;
		}

		img {
			z-index: 2;
			border-radius: 50%;
		}

		.testi-info {
			z-index: 2;

			h4 {
				font-size: 20px;
				line-height: 28px;
				margin: 0;
				color: $white-color;
				font-weight: 500;
				font-family: $title-font;
			}

			p {
				font-size: 14px;
				line-height: 26px;
				color: $text-color2;
				margin: 0;
			}
		}

		.quote-icon {
			font-size: 12px;
			color: $white-color;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			display: inline-block;
			background: $theme-color;
			text-align: center;
			line-height: 20px;
			border: 1px solid $white-color;
			position: absolute;
			bottom: 5px;
			right: -8px;
		}
	}

	.testi-content {
		text-align: center;
		padding: 50px 0px 0px;

		.stars {
			font-size: 18px;
			color: $orange-color;
			font-weight: bold;
			margin-bottom: 10px;

			span {
				font-size: 18px;
				line-height: 30px;
				color: $dark-color;
				font-weight: 500;
				font-family: $title-font;
			}
		}

		p {
			font-size: 16px;
			line-height: 30px;
			color: $gray-color2;
			text-align: center;
			margin: 0;
		}
	}

	&:hover {
		transform: translateY(-6px);

		.testi-top {
			&::before {
				opacity: 1;
				left: 0;
				width: 100%;
			}
		}
	}
}