// Primary Button
.link-effect {
  position: relative;
  overflow: hidden;
  display: block;
  height: 26px;

  .effect-1 {
    display: block;
    height: 100%;
    position: relative;
    top: 0%;
    transition: 0.3s;
  }

  &:hover {
    .effect-1 {
      top: -100%;
    }
  }
}

// Theme Button
.theme-btn {
  font-size: 16px;
  font-weight: 500;
  font-family: $title-font;
  position: relative;
  padding: 15px 60px 15px 40px;
  margin-bottom: 0px;
  color: $white-color;
  background-color: $theme-color;
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  text-decoration: none;
  border-radius: 30px;

  &.style-2{
    border: 1px solid $white-color;
    background: transparent;
  }

  &.error {
    padding: 15px 40px 15px 40px;
    gap: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;
    transform: skewx(-20deg);
    background-image: -webkit-gradient(linear,
        left top,
        right top,
        from(transparent),
        color-stop(rgba(255, 255, 255, 0.35)),
        to(transparent));
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.35), transparent);
    z-index: 0;
  }

  @include sm {
    padding: 15px 50px 15px 30px;
  }

  &.bg-white {
    background-color: $white-color;
    // border: 1px solid $dark-color;
  }

  &.bg-dark {
    background-color: $dark-color;
    color: $white-color;

    &:hover {
      color: $white-color;
      background-color: $theme-color !important;
    }
  }

  &.bg-dark3 {
    background-color: $dark-color3;
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }

  &.bg-theme {
    background-color: $theme-color;
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }

  &.bg-border {
    background-color: $border-color;
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }

  &.bg-transparent {
    background-color: transparent;
    border: 1px solid $dark-color;
  }

  i {
    font-size: 16px;
    height: 26px;
    line-height: 1.66;
  }

  &:hover {
    color: $white-color;

    .effect-1 {
      top: -100%;
    }
  }

  &.text-theme {

    &:before,
    &:after {
      background: $theme-color;
    }

    img {
      filter: brightness(99);
    }
  }

  .arrow-all {
    width: 30px;
    height: 30px;
    background: $white-color;
    color: $dark-color;
    border-radius: 50%;
    margin-left: 20px;
    position: absolute;
    overflow: hidden;
    right: 10px;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s ease;

    i {
      position: relative;
      overflow: hidden;
      width: 14px;
      height: 14px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;

      svg {
        transform: translateY(-1px);
        position: absolute;
        bottom: -3px;
        left: -1px;
        transition: all 0.2s ease-out;

        &:last-child {
          left: -13px;
          bottom: -3px;
          transform: translate(0, 0);
          opacity: 0;
        }
      }
    }

  }

  &:hover {
    .arrow-all {

      i {
        svg {
          &:first-child {
            -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
          }

          &:last-child {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translate(13px, 0);
            transform: translate(13px, 0);
          }
        }
      }

    }

    &::before {
      -webkit-animation: pxl_btn_shine 1.4s ease;
      animation: pxl_btn_shine 1.4s ease;
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
  }
}



// Theme Button Two

.theme-btn.style2 {
  font-size: 16px;
  font-weight: 400;
  font-family: $title-font;
  position: relative;
  padding: 10px 30px 10px 30px;
  margin-bottom: 0px;
  color: $white-color;
  background-color: $theme-color3;
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  text-decoration: none;
  border-radius: 26px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;
    transform: skewx(-20deg);
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, .35)), to(transparent));
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .35), transparent);
    z-index: 0;
  }

  @include sm {
    padding: 12px 35px;
  }

  &.bg-white {
    background-color: $white-color;
    // border: 1px solid $dark-color;
  }

  &.bg-dark {
    background-color: $dark-color;
    color: $white-color;

    &:hover {
      color: $white-color;
      background-color: $theme-color !important;
    }
  }

  &.bg-dark3 {
    background-color: $dark-color3;
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }

  &.bg-theme {
    background-color: $theme-color;
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }

  &.bg-border {
    background-color: $border-color;
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }

  &.bg-transparent {
    background-color: transparent;
    border: 1px solid $dark-color;
  }

  i {
    font-size: 16px;
    height: 26px;
    line-height: 1.66;
  }

  &:hover {
    color: $white-color;

    .effect-1 {
      top: -100%;
    }
  }

  &.text-theme {

    &:before,
    &:after {
      background: $theme-color;
    }

    img {
      filter: brightness(99);
    }
  }

  .arrow-all-2 {
    width: 30px;
    height: 26px;
    border-radius: 50%;
    // position: absolute;
    overflow: hidden;
    right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s ease;

    i {
      position: relative;
      overflow: hidden;
      width: 14px;
      height: 14px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;

      svg {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        position: absolute;
        bottom: -1px;
        left: 1px;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;

        &:last-child {
          left: -12px;
          bottom: -12px;
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
          opacity: 0;
        }
      }
    }
  }

  &:hover {
    .arrow-all-2 {

      i {
        svg {
          &:first-child {
            -webkit-transform: translate(16px, -16px);
            transform: translate(16px, -16px);
          }

          &:last-child {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translate(13px, -12px);
            transform: translate(13px, -12px);
          }
        }
      }
    }

    &::before {
      -webkit-animation: pxl_btn_shine 1.4s ease;
      animation: pxl_btn_shine 1.4s ease;
      -webkit-animation-delay: .1s;
      animation-delay: .1s;
    }
  }

}



// Icon Btn
.icon-btn {
  display: inline-block;
  width: var(--btn-size, 46px);
  height: var(--btn-size, 46px);
  line-height: var(--btn-size, 46px);
  font-size: var(--btn-font-size, 16px);
  background-color: $theme-color;
  color: $white-color;
  text-align: center;
  border-radius: 0px;
  border: none;
  transition: 0.4s ease-in-out;

  &:hover {
    background-color: $title-color;
    color: $white-color;
  }

  &.btn-border {
    background: transparent;
    border: 2px solid $theme-color;
    color: $theme-color;

    &:hover {
      background: $theme-color;
      color: $white-color;
    }
  }
}

// Scroll To Top
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  z-index: 10000;
  opacity: 1;
  visibility: hidden;
  transform: translateY(45px);
  transition: all 300ms linear;

  &:after {
    content: "\f062";
    font-family: $icon-font;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: $title-color;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: block;
    z-index: 1;
    border-radius: 50%;
  }

  svg {
    color: $title-color;
    border-radius: 50%;
    background: $white-color;
    border: 1px solid $white-color;

    path {
      fill: none;
    }
  }

  .progress-circle path {
    stroke: $theme-color;
    stroke-width: 6px;
    box-sizing: border-box;
    transition: all 400ms linear;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@include xs {
  .scroll-top {
    right: 15px;
    bottom: 15px;
    height: 40px;
    width: 40px;

    &:after {
      font-size: 16px;
      line-height: 40px;
    }
  }

  .btn {
    padding: 15.5px 20px;
    font-size: 12px;
    font-weight: 500;
  }

  .btn.circle-btn {
    height: 120px;
    width: 120px;
    line-height: 120px;
  }
}

// Bottom to Top
.top-scroll {
  cursor: pointer;
  display: inline-block;
  padding: 19px 13px;
  border-radius: 7px;
  background-color: $theme-color;
  text-align: center;
  transition: all 300ms linear;
}

@include sm {
  .play-btn {
    --icon-size: 70px;
    --icon-font-size: 24px;
  }

  .btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 17px 25px;
  }
}

body.bg-title {
  & .scroll-top {
    & svg {
      color: $white-color;

      & path {
        stroke: $theme-color;
      }
    }

    &::after {
      color: $white-color;
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4);
    }
  }
}





/*===============================
  Scroll To Top
===============================*/
.scrollToTop {
    height: 55px;
    width: 55px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0f0f0f;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    transition: 0.5s ease all;
    display: none;

    @include md {
        height: 40px;
        width: 40px;
    } 


    &:hover {
        transform: translateY(-15%);
    }

    .arrowUp {
        @include center-flex;
        position: absolute;
        inset: 0;
        z-index: 3;
        color: #ffffff;
        font-size: 24px;

        i {
            font-size: 19px;
        }
    }

    .water {
        position: absolute;
        inset: 0;
        z-index: 2;
        transform: translateY(100%);
        background-color: $theme-color;
        transition: all 0.3s;

        svg use {
            margin-bottom: -1px;
            position: relative;
            bottom: -1px;
            fill: $theme-color !important;
        }
    }

    .water_wave {
        width: 200%;
        position: absolute;
        bottom: 100%;

        &_back {
            right: 0;
            fill: $dark-color;
            animation: wave-back 1.4s infinite linear;
        }

        &_front {
            left: 0;
            fill: #7A259EE0;
            margin-bottom: -1px;
            animation: wave-front 0.7s infinite linear;
        }
    }
}

@keyframes wave-front {
    100% {
        transform: translateX(-50%);
    }
}

@keyframes wave-back {
    100% {
        transform: translateX(50%);
    }
}
