/*==== Brands Section Four =====================*/
.tv-brands-section.style-5 {
  .sponsors-outer {
    .brands-slider{
      background: $bg-color14;
      border-radius: 20px;
      padding: 40px 0 30px;
      border: 1px solid $border-color5;
    }
  }
}