/*==== Project Details =====================*/
.project-sidebar {
    position: sticky;
    top: 100px;
    max-width: 408px;

    @include md {
        max-width: 100%;
    }

    .widget-box.project-details-box {
        background-color: $white-color;
        padding: 0;
        border-radius: 10px;

        .title {
            font-size: 24px;
            color: $white-color;
            font-weight: 500;
            text-align: center;
            background-color: $theme-color;
            padding: 25px 0;
            border-radius: 10px 10px 0 0;
            margin-bottom: 0;
        }

        .content {
            padding: 10px 35px 22px;

            @include nestHub {
                padding: 10px 20px 22px;
            }

            @include vxs {
                padding: 10px 20px 22px;
            }

            ul {
                li {
                    font-size: 16px;
                    color: $dark-color;
                    font-weight: 500;
                    padding: 13px 0;
                    font-style: $title-font;
                    border-bottom: 1px dashed $dark-color;

                    &:last-child {
                        border-bottom: none;
                    }

                    strong {
                        color: $dark-color;
                        font-weight: 600;
                    }

                    a {
                        color: $dark-color;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .widget-box.consulting-box {
        padding: 60px 40px;
        border-radius: 20px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @include nestHub {
            padding: 60px 20px;
        }

        @include vxs {
            padding: 60px 20px;
        }

        &:hover {
            .inner-box {
                .icon {
                    img {
                        animation: wobble_vertical 1s forwards ease-in-out 0s;
                    }
                }
            }
        }

        .inner-box {
            text-align: center;

            .icon {
                width: 90px;
                height: 90px;
                border-radius: 45px;
                background-color: $theme-color;
                @include center-flex;
                margin: 0 auto;
            }

            .title {
                font-size: 28px;
                line-height: 1.2;
                color: $white-color;
                font-style: $title-font;
                font-weight: 700;
                margin-bottom: 25px;
                margin-top: 30px;
            }

            .text {
                font-size: 16px;
                color: $text-color2;
                font-weight: 400;
                margin-bottom: 0;

                @include nestHub {
                    font-size: 15px;
                }
            }

            .contact-info {

                .contact-item {
                    @include center-flex;
                    justify-content: flex-start;
                    gap: 20px;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        .icon i {
                            @include animation(wobble_vertical, 0.8s, ease-in-out);
                        }
                    }

                    .icon {
                        @include center-flex;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: $border-color;
                        font-size: 20px;
                        color: $theme-color2;

                        i {
                            width: 20px !important;
                            height: 20px !important;
                            @include filter-theme-color2;
                        }
                    }

                    .content {
                        p {
                            font-size: 14px;
                            color: $gray-color2;
                            font-weight: 400;
                            margin-bottom: 0;
                        }

                        a {
                            font-size: 16px;
                            color: $white-color;
                            font-weight: 500;

                            &:hover {
                                color: $theme-color2;
                            }
                        }
                    }
                }
            }
        }
    }

}

.project-details__content {
    img {
        width: 100%;
    }

    .title {
        font-size: 32px;
        color: $dark-color;
        font-weight: 700;
        margin-bottom: 15px;

        @include lg {
            font-size: 30px;
        }

        @include sm {
            font-size: 26px;
        }
    }

    p {
        width: 95%;

        @include xs {
            width: 100%;
        }

        @include vxs {
            text-align: justify;
        }
    }

    .featured-list {

        li {
            font-size: 16px;
            color: $gray-color2;
            font-weight: 400;
            padding-left: 25px;
            position: relative;

            +li {
                margin-top: 13px;
            }

            &::before {
                @include absolute-centerY;
                content: "\f00c";
                left: 0;
                font-size: 18px;
                color: $theme-color;
                font-family: $icon-font;
                font-weight: 900;
            }
        }

        .list-style-2 {
            li {
                &::before {
                    content: "\f058";
                    color: $theme-color;
                }
            }
        }
    }

    .details-image-box {
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        .title {
            font-size: 22px;
            color: $dark-color;
            font-weight: 500;
            margin-bottom: 0;
            background: $white-color;
            padding: 25px 30px;
        }
    }
}

.project-details__bottom {
    @include center-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0 25px;
    margin: 40px 0 40px;
    border-top: 1px solid $border-color2;
    border-bottom: 1px solid $border-color2;

    @include tablet-s {
        gap: 20px;
    }
}

.project-details__tags {
    display: flex;
    align-items: center;

    li {
        display: inline-block;
        font-size: 14px;
        color: $dark-color;
        font-weight: 500;
        font-family: $title-font;
        text-transform: uppercase;
        height: 36px;
        line-height: 36px;
        border-radius: 18px;
        background-color: transparent;
        border: 1px solid $border-color2;
        padding: 0 20px;
        margin-right: 6px;
        cursor: pointer;
        @include transition;

        &:hover {
            color: $white-color;
            background: $theme-color;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.project-details__social-list,
.project-details__tags {
    span {
        font-size: 18px;
        color: $dark-color;
        font-weight: 500;
        margin-right: 10px;
    }

    @include vxs {
        flex-wrap: wrap;
        gap: 0;
    }

}

.project-details__social-list {
    display: flex;
    align-items: center;

    a {
        position: relative;
        height: 34px;
        width: 34px;
        @include center-flex;
        color: $dark-color;
        background-color: transparent;
        border: 1px solid $border-color2;
        font-size: 14px;
        border-radius: 50%;
        overflow: hidden;
        @include transition;
        z-index: 1;

        &:hover {
            color: $white-color;

            &:after {
                height: 100%;
                opacity: 1;
            }
        }

        &:after {
            @include absolute-content(100%, 0, $theme-color);
            top: 0;
            left: 0;
            opacity: 0;
            z-index: -1;
            @include transition;
        }
    }

    a+a {
        margin-left: 10px;
    }
}

.details__pagination-box {
    position: relative;
    display: block;

    .details__pagination {
        position: relative;
        @include center-flex;
        justify-content: space-between;

        li {
            a {
                font-size: 16px;
                color: $dark-color;
                font-family: $title-font;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 10px;
                @include transition;

                @include mobile-xl {
                    font-size: 16px;
                }

                &:hover {
                    color: $theme-color;

                    i {
                        color: $theme-color;
                    }
                }

                i {
                    font-size: 20px;
                    color: $dark-color;
                    @include transition;
                }
            }
        }
    }
}