/* Global ------------- */
.page-wrapper {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  // overflow: hidden;

  &.overflow-visible {
    overflow: visible !important;
  }
}

.shape-mockup-wrap {
  z-index: 1;
  position: relative;
}

.shape-mockup {
  position: absolute;
  z-index: -1;

  &.z-index-3 {
    z-index: 3;
  }
}

.z-index-step1 {
  position: relative;
  z-index: 4 !important;
}

.z-index-common {
  position: relative;
  z-index: 3;
}

.z-index-3 {
  z-index: 3;
}

.z-index-n1 {
  z-index: -1;
}

@include sm {
  .sm-w-100 {
    width: 100% !important;
  }

  .sm-flex-column {
    flex-direction: column;
  }

  .sm-justify-content-start {
    justify-content: flex-start !important;
  }
}

@include xs {
  .xs-w-100 {
    width: 100% !important;
  }

  .xs-flex-column {
    flex-direction: column;
  }

  .xs-justify-content-start {
    justify-content: flex-start !important;
  }
}

@include md {
  .md-flex-column-reverse {
    flex-direction: column-reverse !important;
  }
}

.media-body {
  flex: 1;
}

.style-italic {
  font-style: italic;
}

.social-btn {
  display: flex;
  gap: 10px;

  a {
    height: var(--icon-size, 48px);
    width: var(--icon-size, 48px);
    line-height: 48px;
    display: inline-block;
    color: $title-color;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid $border-color;
    background: $border-color;

    &:hover {
      background: $title-color;
      color: $white-color;
      border-color: $title-color;
    }
  }

  &.style2 {
    gap: 25px;

    .link-effect {
      height: 25px;
    }

    a {
      background: transparent;
      width: auto;
      height: auto;
      line-height: normal;
      border-radius: 0;
      color: $white-color;
      border: 0;
      font-size: 20px;

      &:hover {
        background: transparent;
        color: $theme-color;
      }
    }
  }

  &.style3 {
    gap: 15px;

    .link-effect {
      height: 46px;
      line-height: 46px;
    }

    a {
      display: inline-block;
      background: $theme-color;
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 50%;
      color: $white-color;
      border: 0;
      font-size: 16px;

      &:hover {
        color: $white-color;
      }
    }
  }

  &.color-theme {
    a {
      color: $body-color;
      border-color: $theme-color;
    }
  }
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  .btn {
    border-radius: 40px;
    flex: none;
  }

  &.style2 {
    gap: 20px 70px;

    @include sm {
      gap: 20px 30px;
    }
  }
}

.w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

/*=======Fancybox PopUp============*/
.f-thumbs__slide__img {
  height: 100% !important;
}

// Selec2 Custom css
.select2-results__option {
  padding: 0 10px;
  color: $gray-color;
}

.select2-container--default {
  .select2-selection--single {
    .select2-selection__rendered {
      color: $gray-color;
      padding-left: 0;
      line-height: 2.2;
    }

    .select2-selection__arrow {
      bottom: 1px;
      height: auto;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: $gray-color;

      &:before {
        position: relative;
        content: "\f107";
        font-family: $icon-font;
        font-weight: 900;
      }

      b {
        display: none;
      }
    }

    border-radius: 0;
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $theme-color;
  }

  .select2-search--dropdown {
    .select2-search__field {
      height: 30px;
      background: $white-color;
      color: $dark-color;
    }
  }
}

.form-group {
  .select2-container--default {
    .select2-selection--single {
      position: relative;
      display: block;
      font-size: 15px;
      width: 100%;
      height: 54px;
      padding: 10px 25px;
      line-height: 1.4;
      border-radius: 10px;
      color: $gray-color2;
      border: 1px solid $border-color8;
      background-color: $white-color;
      @include transition;

      &:focus {
        background-color: $white-color;
      }
    }
  }
}

.select2-container {
  flex: 1;
}

/* Custom Datepicker Styles */
#ui-datepicker-div {
  z-index: 10 !important;
}

.custom-date-input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $border-color;
  font-size: 16px;
  background-color: $white-color;
}

.ui-datepicker {
  background: $white-color;
  border: 1px solid $white-color;
  color: #fff;
}

table.ui-datepicker-calendar {
  margin-bottom: 0;

  td:hover {
    background: $dark-color;
    color: $white-color;

    a {
      background: transparent;
      color: $white-color;
    }
  }
}

.ui-datepicker-title {
  display: flex;

  select {
    max-height: 200px;
    overflow-y: auto;
  }

  select.ui-datepicker-year,
  select.ui-datepicker-month {
    background: $white-color;
    border: 1px solid $dark-color;
    color: $dark-color;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.ui-datepicker-next.ui-corner-all {
  float: right;
}

td.ui-datepicker-days-cell-over.ui-datepicker-today {
  background: $theme-color;

  a {
    color: $white-color;
    cursor: pointer;
  }
}

.ui-datepicker-header {
  background: $white-color;
  border-bottom: 1px solid #555;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  color: $dark-color;
}

.ui-state-active {
  background: $theme-color;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid $theme-color;
  background: $theme-color;
  color: $white-color;
}

/* Style the dropdown if needed */
.ui-timepicker-list {
  background-color: $white-color;
  border: 1px solid$dark-color;
  max-height: 200px;
  overflow-y: auto;
}

// Popup styling
.popup-status {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px;
  border-radius: 5px;
  color: $white-color;
  font-size: 16px;
  z-index: 99999;
  display: flex;
  align-items: center;

  i {
    margin-right: 10px;
    cursor: pointer;
  }

  &.success {
    background-color: $success-color;
  }

  &.error {
    background-color: $error-color;
  }

  // Animation for the popup
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: slideIn 0.3s ease-out;
}

.img-half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.img-right {
    right: 0;
  }
}

.icon-box {
  display: inline-flex;
  gap: 10px;
}

.btn-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 30px;

  &.style2 {
    gap: 30px 40px;
  }
}

.category-tag {
  height: 34px;
  line-height: 34px;
  padding: 0 17px;
  font-size: 14px;
  color: $white-color;
  font-weight: 500;
  border-radius: 17px;
  background-color: $theme-color3;
  backdrop-filter: blur(10px);
  @include transition;
  cursor: pointer;

  &:hover {
    background-color: $theme-color;
  }
}

.overlay-anim1 {
  position: relative;

  &::after {
    background-color: $bg-color4;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
  }

  &:hover::after {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
  }
}

.overlay-anim2 {
  position: relative;
  transition: all 0.4s ease-in-out;

  &:after {
    content: "";
    position: absolute;
    pointer-events: none;
    opacity: 1;
    z-index: 1;
    top: 50%;
    right: 0;
    bottom: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:hover {
    &:after {
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: all 900ms linear;
    }
  }
}

.overlay-anim3 {
  position: relative;
  overflow: hidden;

  &::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: translate(-50%, -50%);
  }

  &:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


.overlay-anim4 {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
  }

  &:hover {
    &:after {
      height: 250%;
      transition: all 800ms linear;
      background-color: transparent;
    }
  }
}


.overlay-fade {
  position: relative;

  &::after {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    z-index: 9;
    pointer-events: none;
  }

  &:hover::after {
    opacity: 1;
  }
}

.overlay-diagonal {
  position: relative;

  &::after {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    left: -100%;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: left 400ms ease-in-out, top 400ms ease-in-out;
    z-index: 9;
    pointer-events: none;
  }

  &:hover::after {
    left: 0;
    top: 0;
  }
}

.tv-hover {
  .hover-1 {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transform: scale(1.01);
      @include transition;
    }
  }

  .hover-2 {
    img {
      width: 100%;
      @include transition;
    }
  }

  .hover-3 {
    figure {
      max-width: 410px;
      max-height: 450px;
      width: 100%;
      height: 100%;
    }

    img {
      margin-left: 30px;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      object-fit: cover;
      object-position: left;
    }
  }

  .hover-4 {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
  }

  &:hover {
    .hover-1 {
      img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }

    .hover-2 {
      img {
        -webkit-transform: scale(1.2) rotate(-3deg);
        transform: scale(1.2) rotate(-3deg);
      }
    }

    .hover3 {
      img {
        margin-left: 0px;
      }
    }

    .hover-4 {
      &::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
      }
    }
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.js-marquee {
  @include center-flex;
  justify-content: start;
}

.border {
  @include border(bottom, 1px, solid, $border-color);
}

.border2 {
  position: relative;
  @include border(bottom, 1px, solid, $border-color5);
}

.border.white {
  @include border(bottom, 1px, solid, $border-color4);
}

.cover-background {
  background-size: cover;
  background-position: center center !important;
}

.bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bg-image.overlay::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $bg-color3;
}

label.error {
  font-size: 13px;
  color: $error-color;
}

.p-top-left {
  @include position(top, left);
}

.p-top-right {
  @include position(top, right);
}

.p-bottom-left {
  @include position(bottom, left);
}

.p-bottom-right {
  @include position(bottom, right);
}

// .p-top {
//   @include position(top);
// }

.p-top-center {
  @include position(top, left);
  left: 50%;
  transform: translateX(-50%);
}

.p-bottom-center {
  @include position(bottom, left);
  left: 50%;
  transform: translateX(-50%);
}

.bg-image1 {
  @include bg-gradient($white-color, $dark-color);
}

.bg-image2 {
  @include bg-gradient($white-color, $dark-color);
}

.bg-image3 {
  @include bg-gradient(transparent, $dark-color);
}

// Use the mixin to generate classes for specific modes
@include mix-blend-mode(multiply,
  color,
  screen,
  overlay,
  lighten,
  darken,
  difference,
  exclusion,
  luminosity);

// Use the mixin to define your desired widths
@include max-width(inherit, fit-content, max-content, min-content, none, unset);

.border-color4 {
  border-color: $border-color4 !important;
}

.border-color10 {
  border-color: $border-color10 !important;
}






// video box style 

.video-box {

  .circle-box {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    @include center-flex;
    background: $theme-color3;
    backdrop-filter: blur(7px);

    @include md {
      width: 150px;
      height: 150px;
    }

    @include mobile-xl {
      width: 120px;
      height: 120px;
    }

    .logo-box {
      position: absolute;

      i {
        color: $white-color;
        font-size: 30px;

        @include mobile-xl {
          font-size: 20px;
        }
      }
    }

    .text-inner {
      svg {
        width: 120px;
        max-width: 100%;
        height: auto;
        overflow: visible;
        word-spacing: 20px;
        transform: rotate(0) scaleX(1) scaleY(1);

        @include md {
          width: 100px;
        }

        @include mobile-xl {
          width: 80px;
        }
      }

      path {
        fill: transparent;
        stroke: transparent;
        stroke-width: 1px;
        @include transition-properties(0.3s stroke, 0.3s fill);
      }

      text {
        fill: $white-color;
        direction: ltr;
        @include transition-properties(0.3s stroke, 0.3s stroke-width, 0.3s fill);
        font-size: 30px;
        font-weight: 600;
        font-family: $title-font;
      }
    }
  }
}