/*======= Section Title Area ============*/
// General styles for title area
.title-wrap {
  @include md {
    --section-title-space: 60px;
  }

  @include sm {
    --section-title-space: 55px;
  }

  margin-bottom: calc(var(--section-title-space) - 33px);
  position: relative;
  z-index: 2;

  &.two {
    .sec-title {
      margin-bottom: 0;
    }

    margin-bottom: calc(var(--section-title-space) - 22px);
  }

  &.twoT {
    .sec-title {
      margin-bottom: 10px;
    }

    margin-bottom: calc(var(--section-title-space) - 42px);
  }

  &.three {
    margin-bottom: calc(var(--section-title-space) - 20px);
  }

  &.threeT {
    margin-bottom: calc(var(--section-title-space) - 34px);

    .sec-title {
      margin-bottom: 13px;
    }
  }

  // Main styles for subtitle
  .sub-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $white-color;
    padding: 6px 28px;
    border-radius: 30px;
    background-color: $theme-color;
    position: relative;
    transform: rotate(-10deg);
    margin-bottom: 25px;
  }

  .sub-title-2 {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: $theme-color;
    background: $bg-color5;
    font-weight: 500;
    font-family: $title-font;
    margin-bottom: 12px;
    border: 1px solid $theme-color;
    border-radius: 16px;
    padding: 2px 15px;
    i {
      margin-right: 10px;
      font-size: 14px;
    }
    &.two {
      border: 1px solid $border-color3;
    }
  }
}

// Default styles for section title and text
.sec-title {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;

  @include xl {
    font-size: 38px;
  }

  @include laptop-l {
    font-size: 34px;
  }

  @include nestHub {
    font-size: 30px;

    // br {
    //   display: none;
    // }
  }

  @include tablet-s {
    font-size: 30px;
    letter-spacing: normal;
  }

  @include mobile-xl {
    font-size: 28px;
  }

  @include mobile-l {
    font-size: 24px;
  }

  @include mobile-s {
    font-size: 22px;
  }
}

.sec-text {
  font-size: 16px;
  line-height: 26px;
  color: $gray-color2;
  margin-bottom: 0;

  @include nestHub {
    br {
      display: none;
    }
  }

  @include xs {
    br {
      display: none;
    }
  }
}

.white {
  .sec-title,
  .sec-text {
    color: $white-color;
  }

  .sec-text {
    opacity: 0.8;
  }
}
