/*==== Blog Section One =====================*/

.blog-single-box.style-3 {
    &:hover {
        .blog-image {
            img {
                transform: scale(1.1);
                filter: brightness(80%);
            }
        }

        .blog-content .border::before {
            width: 100%;
            left: 0;
        }
    }

    .blog-image {
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            transition:
                transform 0.4s ease,
                filter 0.4s ease;
            object-fit: cover;
        }

        .category-tag {
            position: absolute;
            left: 20px;
            bottom: 20px;
            height: 34px;
            line-height: 34px;
            padding: 0 17px;
            font-size: 14px;
            color: $white-color;
            font-weight: 500;
            border-radius: 17px;
            background-color: $theme-color;
            transition: all .4s ease 0s;
            cursor: pointer;

            &::before {
                all: unset;
            }

            &::after {
                all: unset;
            }
        }
    }

    .blog-content {
        padding: 25px 15px 15px;

        @include nestHub {
            padding: 25px 0 15px;
        }

        @include mobile-m {
            padding: 25px 0 15px;
        }

        .border {
            margin-left: -35px;
            margin-right: -35px;
        }

        .border::before {
            position: absolute;
            content: "";
            left: 50%;
            top: 0;
            width: 0;
            height: 1px;
            background: $theme-color;
            @include transition;
        }

        .title {
            font-size: 22px;

            @include ml {
                font-size: 22px;
            }

            @include nestHub {
                font-size: 19px;
            }

            @include sm {
                font-size: 19px;
            }

            a {
                background: linear-gradient($dark-color 0%, $dark-color 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                @include transition;

                &:hover {
                    color: $dark-color;
                    background-size: 100% 2px;
                }
            }
        }

        .text {
            color: $gray-color2;
            margin: 0;
        }

        .blog-meta {
            display: flex;
            align-items: center;
            justify-content: inherit;
            gap: 30px;


            .date {
                font-size: 16px;
                line-height: 26px;
                color: $gray-color2;
                font-weight: 400;
                font-family: $title-font;
            }

            span {
                font-size: 16px;
                line-height: 26px;
                color: $gray-color2;
                font-weight: 400;
                font-family: $title-font;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: -18px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background: $light-color2;
                }
            }
        }
    }
}