
// Text Align Mixin
@each $align in (center, left, right) {
	.text-#{$align} {
		text-align: #{$align} !important;
	}
}


// Mixin for text alignment
@mixin generate-align($prefix) {
    @each $align in (center, left, right) {
        .#{$prefix}-text-#{$align} {
            text-align: #{$align} !important;
        }
    }
}

// Mixin for additional display utilities
@mixin generate-display($prefix) {
    @each $display in (none, block, flex, inline-block) {
        .#{$prefix}-d-#{$display} {
            display: #{$display} !important;
        }
    }
}


// Mixin for additional display utilities
@mixin generate-display-m($prefix) {
    @each $display in (none, block, flex, inline-block) {
        .d-#{$prefix}-#{$display} {
            display: #{$display} !important;
        }
    }
}


// Include utility classes
@mixin generate-utilities($prefix) {
    @include generate-align($prefix);
    @include generate-display($prefix);
}

// Generate utility classes for each breakpoint
@include hd {
    @include generate-utilities('hd');
}

@include xxl {
    @include generate-utilities('xxl');
}

@include ml {
    @include generate-utilities('ml');
}

@include xl {
    @include generate-utilities('xl');
}

@include lg {
    @include generate-utilities('lg');
}

@include laptop-m {
    @include generate-utilities('lpm');
}

@include md {
    @include generate-utilities('md');
}


@include tablet-l {
    @include generate-utilities('tbl');
}


@include sm {
    @include generate-utilities('sm');
}

@include xs {
    @include generate-utilities('xs');
}

@include mobile-xl {
    @include generate-utilities('mxl');
}

@include mobile-m{
    @include generate-utilities('mbm');
}

@include vxs {
    @include generate-utilities('vxs');
}


// min width 
@include laptop-m {
    @include generate-utilities('lpm');
}