/*==== Video Section One =====================*/
.tv-video-section {
    padding-top: 245px;

    .video-area {
        display: flex;
        align-items: center;
        gap: 35px;
        position: absolute;
        top: 120px;

        .video-box {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: $bg-color22;
                backdrop-filter: blur(15px);
                font-size: 24px;
                color: $white-color;
            }
        }

        .text {
            h4 {
                font-size: 24px;
                line-height: 1;
                color: $white-color;
                font-weight: 600;
                font-family: $title-font;
                margin: 0;
            }
        }
    }

    .stats-container {
        display: flex;
        align-items: center;
        gap: 20px;

        @include xs {
            flex-direction: column;
            align-items: start;
        }

        .stat-box {
            padding: 40px 0 40px 40px;
            flex: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 314px;
            border-radius: 20px 20px 0 0;

            @include xs {
                border-radius: 0;
            }

            &.one {
                background: $bg-color12;
                backdrop-filter: blur(20px);
            }

            &.two {
                background: $theme-color;
            }

            p {
                font-size: 16px;
                line-height: 28px;
                color: $text-color2;
                font-weight: 500;
                font-family: $title-font;
                margin: 0;
            }

            .box-inner {
                display: flex;
                align-items: stretch;
                gap: 15px;

                .box-left {
                    .icon {
                        width: 50px;
                        height: 50px;
                        @include center-flex;
                        border-radius: 50%;
                        background: $bg-color12;
                    }
                }

                .box-right {
                    .count-box {
                        font-size: 36px;
                        line-height: 42px;
                        color: $white-color;
                        font-weight: 600;
                        font-family: $title-font;
                    }
                }
            }
        }
    }
}