/*==== Blog Section One =====================*/

.blog-single-box.style-3 {
    &.dark {
        background: $bg-color5;

        &:hover {
            .blog-image {
                img {
                    transform: scale(1.1);
                    filter: brightness(80%);
                }
            }

            .blog-content .border::before {
                width: 100%;
                left: 0;
            }
        }

        .blog-image {
            position: relative;
            border-radius: 20px;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                transition:
                    transform 0.4s ease,
                    filter 0.4s ease;
                object-fit: cover;
            }

            .category-tag {
                position: absolute;
                left: 20px;
                bottom: 20px;
                height: 34px;
                line-height: 34px;
                padding: 0 17px;
                font-size: 14px;
                color: $white-color;
                font-weight: 500;
                border-radius: 17px;
                background-color: $theme-color;
                transition: all .4s ease 0s;
                cursor: pointer;

                &::before {
                    all: unset;
                }

                &::after {
                    all: unset;
                }
            }
        }

        .blog-content {
            padding: 25px 15px 15px;

            @include nestHub {
                padding: 25px 0 15px;
            }

            @include mobile-m {
                padding: 25px 0 15px;
            }

            .border {
                margin-left: -35px;
                margin-right: -35px;
                border-bottom: 1px solid rgb(143 155 227 / 26%) !important;
            }

            .border::before {
                position: absolute;
                content: "";
                left: 50%;
                top: 0;
                width: 0;
                height: 1px;
                background: $theme-color;
                @include transition;
            }

            .title {
                a {
                    background: linear-gradient($white-color 0%, $white-color 98%);
                    background-size: 0 2px;
                    background-repeat: no-repeat;
                    background-position: left 100%;
                    @include transition;
                    color: $white-color;

                    &:hover {
                        color: $white-color;
                        background-size: 100% 2px;
                    }
                }
            }

            .text {
                color: $text-color2;
                margin: 0;
            }

            .blog-meta {
                .date {
                    color: $text-color2;
                }

                span {
                    color: $text-color2;

                    &::before {
                        position: absolute;
                        content: "";
                        left: -18px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                        background: $bg-color22;
                    }
                }
            }
        }
    }
}