/*==== Brands Section Four =====================*/
.tv-brands-section.style-4 {
  .sponsors-outer {
    .trusted-partners {
      .line {
        width: 100%;
        height: 1px;
        background: $bg-color5 !important;
      }
    }
  }
}